.game-grid-cal-stage {
  background-color: #08213f;
  background-image: url("https://raw.githubusercontent.com/defiventurers/articweb3/main/frontend/public/assets/screens/arctic-dominion-game-base-desktop.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.game-grid-cal-stage > img {
  display: none;
}

.game-grid-cal-stage .cal-box.board {
  height: auto !important;
  aspect-ratio: 1 / 1;
}
