@media (min-width: 900px) and (orientation: landscape) {
  .highstakes-room-card { left: 0; top: 0; width: 100%; height: 100%; }
  .hs-room-code { overflow: visible; text-overflow: clip; }

  .highstakes-wallet-text { left: 82.61%; top: 3.89%; width: 19.83%; height: 2.61%; font-size: 10.1484px; }
  .highstakes-points-text { left: 82.61%; top: 6.65%; width: 6.80%; height: 2.60%; font-size: 8.18418px; }
  .available-lock-value { left: 9.83%; top: 70.01%; width: 14.30%; height: 2.60%; font-size: 12px; }
  .locked-lock-value { left: 18.20%; top: 70.00%; width: 13.00%; height: 2.60%; font-size: 12px; }
  .highstakes-page-text { left: 47.22%; top: 74.87%; width: 11.02%; height: 2.13%; font-size: 9px; }

  .hs-room-0 .hs-room-code { left: 30.51%; top: 36.47%; width: 7.81%; height: 3.37%; font-size: 13.4221px; }
  .hs-room-0 .hs-room-count { left: 30.45%; top: 39.56%; width: 2.60%; height: 3.70%; font-size: 12.25px; }
  .hs-room-0 .hs-room-fee { left: 34.05%; top: 39.92%; width: 4.00%; height: 4.01%; font-size: 10.75px; }
  .hs-room-0 .hs-room-usd { left: 30.63%; top: 43.25%; width: 8.09%; height: 3.37%; font-size: 10.4757px; }
  .hs-room-0 .hs-room-join-hitbox { left: 28.37%; top: 47.28%; width: 9.67%; height: 5.02%; font-size: 16px; }

  .hs-room-1 .hs-room-code { left: 42.15%; top: 36.42%; width: 7.53%; height: 3.53%; font-size: 13.4221px; }
  .hs-room-1 .hs-room-count { left: 42.33%; top: 39.68%; width: 2.23%; height: 3.53%; font-size: 12.25px; }
  .hs-room-1 .hs-room-fee { left: 45.37%; top: 39.93%; width: 4.00%; height: 4.01%; font-size: 10.75px; }
  .hs-room-1 .hs-room-usd { left: 42.39%; top: 43.10%; width: 7.44%; height: 3.53%; font-size: 10.4757px; }
  .hs-room-1 .hs-room-join-hitbox { left: 40.07%; top: 47.61%; width: 9.67%; height: 5.02%; font-size: 16px; }

  .hs-room-2 .hs-room-code { left: 53.63%; top: 36.49%; width: 7.53%; height: 3.20%; font-size: 13.4221px; }
  .hs-room-2 .hs-room-count { left: 53.57%; top: 39.85%; width: 2.23%; height: 3.20%; font-size: 12.25px; }
  .hs-room-2 .hs-room-fee { left: 56.98%; top: 39.94%; width: 4.00%; height: 4.01%; font-size: 10.75px; }
  .hs-room-2 .hs-room-usd { left: 53.72%; top: 43.32%; width: 7.44%; height: 3.53%; font-size: 10.4757px; }
  .hs-room-2 .hs-room-join-hitbox { left: 51.53%; top: 47.94%; width: 9.77%; height: 4.53%; font-size: 16px; }

  .hs-room-3 .hs-room-code { left: 65.07%; top: 36.55%; width: 6.88%; height: 3.04%; font-size: 13.4221px; }
  .hs-room-3 .hs-room-count { left: 64.86%; top: 40.19%; width: 2.23%; height: 3.20%; font-size: 12.25px; }
  .hs-room-3 .hs-room-fee { left: 68.55%; top: 39.48%; width: 4.00%; height: 4.49%; font-size: 10.75px; }
  .hs-room-3 .hs-room-usd { left: 65.35%; top: 43.28%; width: 7.44%; height: 3.53%; font-size: 10.4757px; }
  .hs-room-3 .hs-room-join-hitbox { left: 63.05%; top: 47.61%; width: 9.77%; height: 4.53%; font-size: 16px; }

  .hs-room-4 .hs-room-code { left: 30.26%; top: 58.08%; width: 7.91%; height: 2.87%; font-size: 13.4221px; }
  .hs-room-4 .hs-room-count { left: 30.41%; top: 60.81%; width: 2.23%; height: 3.20%; font-size: 12.25px; }
  .hs-room-4 .hs-room-fee { left: 33.95%; top: 60.95%; width: 4.00%; height: 4.01%; font-size: 10.75px; }
  .hs-room-4 .hs-room-usd { left: 30.45%; top: 64.56%; width: 7.53%; height: 3.04%; font-size: 10.4757px; }
  .hs-room-4 .hs-room-join-hitbox { left: 28.51%; top: 68.79%; width: 9.77%; height: 4.53%; font-size: 16px; }

  .hs-room-5 .hs-room-code { left: 42.43%; top: 57.91%; width: 7.53%; height: 3.04%; font-size: 13.4221px; }
  .hs-room-5 .hs-room-count { left: 42.11%; top: 61.04%; width: 2.23%; height: 3.20%; font-size: 12.25px; }
  .hs-room-5 .hs-room-fee { left: 45.47%; top: 60.96%; width: 4.00%; height: 4.01%; font-size: 10.75px; }
  .hs-room-5 .hs-room-usd { left: 42.30%; top: 64.51%; width: 7.53%; height: 3.04%; font-size: 10.4757px; }
  .hs-room-5 .hs-room-join-hitbox { left: 40.30%; top: 68.47%; width: 9.77%; height: 4.53%; font-size: 16px; }

  .hs-room-6 .hs-room-code { left: 53.65%; top: 57.57%; width: 7.44%; height: 3.20%; font-size: 13.4221px; }
  .hs-room-6 .hs-room-count { left: 53.57%; top: 60.95%; width: 2.23%; height: 3.20%; font-size: 12.25px; }
  .hs-room-6 .hs-room-fee { left: 57.13%; top: 60.56%; width: 4.00%; height: 4.49%; font-size: 10.75px; }
  .hs-room-6 .hs-room-usd { left: 53.87%; top: 64.69%; width: 7.53%; height: 3.04%; font-size: 10.4757px; }
  .hs-room-6 .hs-room-join-hitbox { left: 51.63%; top: 68.81%; width: 9.77%; height: 4.53%; font-size: 16px; }

  .hs-room-7 .hs-room-code { left: 64.74%; top: 58.06%; width: 6.98%; height: 3.04%; font-size: 13.4221px; }
  .hs-room-7 .hs-room-count { left: 64.99%; top: 61.18%; width: 2.33%; height: 2.87%; font-size: 12.25px; }
  .hs-room-7 .hs-room-fee { left: 68.49%; top: 60.81%; width: 4.00%; height: 4.01%; font-size: 10.75px; }
  .hs-room-7 .hs-room-usd { left: 65.11%; top: 64.53%; width: 6.70%; height: 3.04%; font-size: 10.4757px; }
  .hs-room-7 .hs-room-join-hitbox { left: 62.95%; top: 68.65%; width: 9.77%; height: 4.53%; font-size: 16px; }

  .hs-room-8 .hs-room-code { left: 0%; top: 0%; width: 0%; height: 0%; font-size: 13.4221px; }
  .hs-room-8 .hs-room-count { left: 0%; top: 0%; width: 0%; height: 0%; font-size: 12.25px; }
  .hs-room-8 .hs-room-fee { left: 0%; top: 0%; width: 0%; height: 0%; font-size: 10.75px; }
  .hs-room-8 .hs-room-usd { left: 0%; top: 0%; width: 0%; height: 0%; font-size: 10.4757px; }
  .hs-room-8 .hs-room-join-hitbox { left: 0%; top: 0%; width: 0%; height: 0%; font-size: 16px; }

  .hs-create-room-hitbox { left: 5.55%; top: 45.35%; width: 18.00%; height: 8.60%; font-size: 16px; }
  .hs-refresh-rooms-hitbox { left: 62.42%; top: 28.17%; width: 9.69%; height: 3.90%; font-size: 16px; }
  .hs-prev-page-hitbox { left: 28.76%; top: 74.42%; width: 17.04%; height: 4.34%; font-size: 16px; }
  .hs-next-page-hitbox { left: 59.09%; top: 74.41%; width: 13.67%; height: 4.34%; font-size: 16px; }
  .hs-deposit-hitbox { left: 10.71%; top: 75.59%; width: 13.00%; height: 6.00%; font-size: 16px; }
  .hs-back-hitbox { left: 33.90%; top: 81.04%; width: 32.50%; height: 11.15%; font-size: 16px; }
  .highstakes-private-input { left: 78.41%; top: 45.16%; width: 13.04%; height: 5.30%; font-size: 14px; }
  .hs-join-private-hitbox { left: 77.26%; top: 51.34%; width: 16.84%; height: 6.63%; font-size: 16px; }
}
